@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: yellow;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  @apply text-4xl font-bold;
  margin-bottom: 1rem;
}

form { 
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid black;
  width: min-content;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  background: blue;
  color: white;
  cursor: pointer;
}

.item {
  display: flex;
  padding: 0.5rem;
  border: 1px solid black;
  gap: 1rem;
  width: fit-content;
}