.snackbar {
	padding: 20px;
	margin-bottom: 15px;
	position: fixed;
	bottom: 10px;
	left: 50%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	z-index: 1000;
}

.snackbar-text {
	color: white;
	font-family: "Roboto", sans-serif;
}

.snackbar .closebtn {
	position: absolute;
	top: 0px;
	right: 10px;
	color: white;
	font-weight: bold;
	font-size: 28px;
	cursor: pointer;
	transition: color 0.3s;
}

.snackbar .closebtn:hover {
	color: black;
}